/* style.css */
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body>div {
    padding: 15px;
}

.header {
      
    font-size: 24px;
}

a {
    color: grey;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
}

figure>div {
    border: 5px solid blue;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    flex-direction: horizontal;
    border-radius: 10%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

h4 {
    background-color: #3882F6;
    color: white;
}
p {
    text-wrap: wrap;
}

.button {
    background-color: #3882F6;
    color: white;

}

.bigtext {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    /* display: flex; */
    /* text-align: center; */
   

}

.attribution {
    font-weight: bold;
    background-color: #E5E7EB;
    text-align: end;
    
}

.hero-title {
    font-size: 36px;
    font-weight: 1200;
    color: #1F2937;
    text-align: center;

}

.dark-background {
    background-color: #1F2937;
    color: white;
}

.blue-background {
    background-color: #3882F6;
    color: white;
    margin: 20px;
}

.placeholder {
    font-size: 18px;
    color: #E5E7EB;
    /* justify-content: center; */
    text-align: right;
    padding: 20px;
    margin: 20px;
    /* flex-direction: row; */
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
} 