/* style.css */

.header {
    /* background-color: #1F2937; */
    /* color: #F9FAF8; */
    font-size: 24px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;


}

li {
    display: flex;

}

a {
    display: flex;
    color: grey;
    text-decoration: none;
    font-size: 18px;
}

.box {

    width: 100px;
    height: 100px;
    border: blue;
    /* background-color: white; */
    margin: 0;
    padding: 0;
    /* display: flex; */
}

h4 {
    background-color: #3882F6;
    color: white;
}


.button {
    background-color: #3882F6;
    color: white;

}



.bigtext {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    /* display: flex; */
    /* text-align: center; */

}
.attribution {
font-weight: bold;
/* display: flex; */
background-color: #E5E7EB;
text-align: end;
}
.hero-title {
    font-size: 36px;
    font-weight: 1200;
    color: #1F2937;
    text-align: center;

}
.dark-background {
    background-color: #1F2937;
    color: white;
}


.footer {
    /* background-color: #1F2937; */
    display: flex;
    /* color: grey; */
    justify-content: center;
    align-items: center;

}